name: Docker CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.pallavibhad}}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        run: docker build -t pallavi/docker-ci-demo . && docker push pallavi/docker-ci-demo
